
@font-face {
	font-family: 'eraser';
	src: url('../fonts/eraser.eot');
	src: local('☺'), url('../fonts/eraser.woff') format('woff'), url('../fonts/eraser.ttf') format('truetype'), url('../fonts/eraser.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Chalk';
	src: url('../fonts/Chalk.eot');
	src: local('☺'), url('../fonts/Chalk.woff') format('woff'), url('../fonts/Chalk.ttf') format('truetype'), url('../fonts/Chalk.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Обнуление страницы */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  /* min-width: 1180px; */
}

body {
  line-height: 1;
  /* font-family: $fontFamily;
  //text-rendering: optimizeLegibility; */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: $fontFamily;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* //-webkit-overflow-scrolling: touch;
//animation-play-state: paused !important; */


/* Color Theme Swatches in Hex */
.Colorful-Pencils-End-Macro-Background-1-hex { color: #A6173D; }
.Colorful-Pencils-End-Macro-Background-2-hex { color: #2669BF; }
.Colorful-Pencils-End-Macro-Background-3-hex { color: #D9AA1E; }
.Colorful-Pencils-End-Macro-Background-4-hex { color: #F28F16; }
.Colorful-Pencils-End-Macro-Background-5-hex { color: #BF7C63; }

html,
body {
  background: url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg') 0 0/cover no-repeat fixed;
  height: 100%;  
  font-family: 'Roboto', sans-serif;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: auto;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #381e74;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header__logo {
  flex: 0 0 100px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header__logo img{
  /* автоматическое подстраивание картинки */
  max-width: 100%;
   /* если у картинки есть подрезание снизу (не круглая) */
  display: block;
}


.header__burger {
  display: none;
}

.header__menu {}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}
.header__link {
  font-family: 'eraser';
  color: #FEFFF1;
  font-size: 24px;
}
.header__link a {
  color: #FEFFF1;
  text-decoration: none;
}
.header__link a:hover{
  color: #FEFFF1;
  text-decoration: underline;
}


.content {
  color: #FEFFF1;
}

/* .content__text h2:first-child{
  margin: 130px 20px 20px 0px;
} */
line-height: 1.4;
.content__text p{
  color: #FEFFF1;
  font-size: 20px;
  line-height: 20px;
  margin: 0px 0px 20px 0px;
  line-height: 1.4;
}

.nav__logo img{
  top: 10px;
  left: 10px;
  height: 100px;
  max-width: 100%;
  background-color: #D9AA1E;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.nav__list {
  border: 1px solid #000;
  flex: 1 1 auto;
  display: flex; 
  margin: 0px -5px;
}
.nav__item {
  padding: 0px 5px; 
  flex: 0 1 20%;
  display: inline-block;
  justify-content: space-between;
  padding: 40px 30px;
  font-family: 'eraser';
  color: #FEFFF1;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  line-height: 1.4;
}
.nav__item li{
  margin: 0 auto;
}


.main{
  margin: 130px 0px 0px 0px;
  height: 100%;
  flex: 1 1 auto;
}
section {
  margin: 20px 10px 20px 10px;
}
.timetables {
  
  
}
.timetables__nav {
  display: flex;
  justify-content: space-between;
}
.timetables__link {
  
  flex: 1 1 33.333%;
  justify-content: center;
  text-align: center;
  color: #FEFFF1;
  font-family: "eraser";
  margin: 10px;
  padding: 10px;
}
.timetables__body {
  min-height: 40vh;
}
.timetables__block {
  position: relative;
  display: none;
}
.timetables__link span{
  position: relative;
  z-index: 2;
}
.timetables__block:nth-child(1) {
  background: url('../img/timetables/school-background.jpg') 0 0 repeat;
  padding: 10px;
}
.timetables__block:nth-child(1)::before{
  /* background-color: #F28F16; */
  left: 0;
}
.timetables__block:nth-child(2)::before{
  /* background-color: #F28F16; */
  left: 33.333%;
}
.timetables__block:nth-child(3)::before{
  /* background-color: #F28F16; */
  right: 0;
}
.timetables__block:nth-child(2) {
  background: url('../img/timetables/book-2929646_1280.webp') 0 0/cover no-repeat;
  opacity: 0.8;
  padding: 10px;
  max-height: 50vh;
  max-width: 100%;
}
/* .timetables__block:nth-child(3) {
  background: url('/img/timetables/pngwing.com.png') 0 0 no-repeat;
    top: 0;
    left: 0;
    max-height: 100px;
    width: 100%;
  
  opacity: 0.8;
  padding: 10px;
  height: 600px;
  
} */

.timetables__block:target{
  display: block;
}
.timetables__block::before{
  content: "";
  height: 50px;
  width: 33.333%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: -50px;
  
}

.timetables__item {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.timetables__column {
  flex: 0 1 20%;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  background-color: #2668bfd2;
  height: 40vh;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.week {
  font-family: 'Chalk';
  text-transform: uppercase;
  /* font-family: 'eraser'; */
  color: #A6173D;
  font-size: 30px;
  margin: 20px 0px 10px 0px;
  text-align: center;
}
.day {
  color: #FEFFF1;
  padding: 10px;
  font-size: 18px;
  line-height: 1.4;
}

.timetables__block p{
  margin: 10px 10px;
  /* padding: 5px 10px; */
}
h2{
  margin: 20px 0;
  justify-content: center;
  color: #FEFFF1;
  font-family: 'eraser';
  text-align: center;
}
._schedule {
  flex-direction: column;
}
.bold {
  font-size: 30px;
  color: #D9AA1E;
  font-weight: 700;
  line-height: 1.3;
}

.timetables__block {
  position: relative;
}
._holidays {
}
.holidays__body {
  
  min-height: 20vh;
  max-width: 100%;
  border-radius: 10px;
  margin: 20px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.holidays__item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 15vh;
  
  
}

.holidays__body img{
  position: relative;
  bottom: 0;
  left: 0;
  min-height: 150px;
  width: 100%;
  object-fit: cover;
}

.holidays p{
  margin: 20px;
}
.holidays__column {
  flex: 1 1 auto;
  margin: 10px;
}
.holidays__quarter {
  text-align: center;
  color: #F28F16;
  font-family: 'Chalk';
  text-transform: uppercase;
  font-size: 40px;
  margin: 10px 10px;
}
.holidays__time {
  padding: 20px 0px 0px 0px;
}

.parents__unit {
  
  position: relative;
  margin: 20px 0px 0px 0px;
  overflow: hidden;
}
.parents__body {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.parents__members {
  border: 1px solid #000;
  flex: 1 1 33.333%;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.parents__members img{
  margin: 10px;
  height: 20vh;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.parents__text {
  margin: 20px 0px 20px 0px;
  padding: 0px 10px;
  font-size: 24px;
}

.footer {
  height: 50px;
}
.footer__text {
  color: #FEFFF1;
}

@media (max-width: 1024px) {
  .timetables__item {
    flex-wrap: wrap;
    justify-content: center;
    }
  .timetables__column {
      height: 30vh;
    }
}
@media (max-width: 960px){
  body.lock{
    overflow: hidden;
  }
  .header__body{
    height: 70px;
  }
  .header__logo{
    flex: 0 0 60px;
  }
  .header__burger {
    display: block; 
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span{
    background-color: #FEFFF1;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
  .header__burger::before,
  .header__burger::after{
    content: "";
    background-color: #FEFFF1;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
  }
  .header__burger::before{
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 9px;
}
.header__burger.active::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  bottom: 9px;
}
.header__burger.active span{
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
  .header__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a786c2;
    padding: 70px 10px 20px 20px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    overflow: auto;
  }
.header__menu.active {
  top: 0;
}

  .header__list{
    display: block;
  }
  .header__list li{
    margin: 0px 0px 20px 0px;
  }
  .main{
    margin: 80px 0px 0px 0px;
    height: 100%;
    flex: 1 1 auto;
  }
}

@media (max-width: 950px){
  
}
@media (max-width: 800px) {
  .holidays__item{
    flex-direction: column;
  }
}
@media (max-width: 650px){
  
}
@media (max-width: 600px) {
  .parents__body{
    flex-direction: column;
  }
  
}